<div class="container">
  <div style="text-align:center">
    <div class="card-panel grey lighten-2">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" [(ngModel)]="email" name="email">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
              <label for="password">Password</label>
            </div>
          </div>
          <a class="waves-effect waves-light green btn-large" (click)="login(email, password)">Login</a>
        </form>
      </div>
    </div>
  </div>
</div>