<header>
<nav class="z-depth-2">
  <div class="nav-wrapper">

    <a routerLink="/home" class="brand-logo left">PhotoWorld</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLink="/home" routerLinkActive="active"><a>Home</a></li>
      <li routerLink="/content" routerLinkActive="active"><a>Albums</a></li>
      <li><a class='dropdown-trigger' data-target='dropdown1'>Account</a></li>
    </ul>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
  </div>
</nav>
</header>


