<p>ALBUMS</p>
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let album of albums | async">
      <div routerLink="/content/photos" class="card small teal darken-4">
        <div class="card-content white-text">
            <i class="material-icons right">edit</i>
          <span class="card-title">{{album.title}}</span>
          <p>{{album.userID}}</p>
        </div>
        <div class="card-action teal darken-3">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noAlbums>
  <div>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
  </div>
</ng-template>