<p>PHOTOS</p>
<div class="container">
  <div class="row">
    <div class="col s12 m6 l4" *ngFor="let photo of photos | async">
      <div class="card small teal darken-4">
        <div class="card-image">
          <img src={{photo.thumbnailURL}}>
          <span class="card-title">{{photo.title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">edit</i></a>
        </div>
      </div>
    </div>
  </div>
          
</div>

<ng-template #noPhotos>
  <div>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
  </div>
</ng-template>