/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/sass/materialize.scss";

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: seagreen;
}

main {
    flex: 1 0 auto;
}
