
<footer class="page-footer z-depth-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">PhotoWorld Footer</h5>
        <p id="footer-content" class="grey-text text-lighten-4">This is where my PhotoWorld footer will be</p>
      </div>
      <div id="links" class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © Olivier PhotoWorld 2017 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>